<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.runningtrial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pkgs.TestPkgActivity"></activity>
        <activity android:name=".subsys.TestSubsysActivity" />
        <activity android:name=".subsys.TestTtsActivity" />
        <activity android:name=".subsys.TestServicesActivity" />

        <service
            android:name=".subsys.TestServices"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".subsys.SnoozeReceiver" />

        <activity android:name=".subsys.TestNoti2Activity" />
        <activity android:name=".subsys.TestNotificationActivity" />
        <activity
            android:name=".UI.TestAppBarLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.TestViewDragHelperActivity" />
        <activity android:name=".UI.TestCoordinateLayoutActivity" />
        <activity
            android:name=".TestDrawerLayoutActivity"
            android:label="@string/title_activity_test_drawer_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestDrawerActivity"
            android:theme="@style/DrawerStyle" />
        <activity android:name=".UI.TestRecyclerViewActivity" />
        <activity android:name=".TestAppBarActivity" />
        <activity
            android:name=".TestFragmentActivity"
            android:theme="@style/AppTheme.Base" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>